*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, bod{
  width: 100%;
  height: 100%;
}

/* To remove arrow button in input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

